@charset "UTF-8";
body {
	margin: 0 auto;
	text-align: center;
	min-width: 1280px;
}

ul {
	padding: 0;
	list-style-type: none;
	align-items: center;
}
a { cursor: pointer; }
a:link, a:visited { text-decoration: none;  color:inherit; }

table { margin: 0 auto;  border-collapse: collapse; }
table tr { height: 46px }
table.tb-list tr { height: 38px }
table th, table td { border:1px solid #b0b0b0; }
table td { padding: 6px 10px }
table th { background-color: #f6f6f6 }

table a:hover { font-weight: bold; }

.btnSet { margin: 20px auto; }
a.btn-fill, a.btn-empty {
	padding: 3px 15px;
	border: 1px solid #3367d6;
	border-radius: 3px;
}
a.btn-fill {
	background-color: #3367d6;
	color: #fff;
}
a.btn-empty {
	background-color: #fff;
	color: #3367d6;
}

input {
	height: 30px;
	padding: 0 10px;
	border: 1px solid #b0b0b0;
	font-size:16px;
}
input:focus, select:focus { 
	outline: none; border-color: #3367d6;
}
input[type=radio]{
	width: 18px;
	margin: 0 5px 2px;
	vertical-align: middle;
}
label:not(:last-child) { margin-right: 20px }

.tb-wrap {  
	margin: 0 auto;
	overflow-y:auto ; 
	height: 495px;  } 
.tb-wrap table { width:100% }

.ui-datepicker table tr { height: inherit; }

select {
	cursor: pointer;
	height: 32px;
	padding-left: 10px;
	font-size: 16px;
	border: 1px solid #b0b0b0;
}

#list-top {
	display: flex;
	margin: 0 auto;
	justify-content:space-between;
}

ul { display: flex; }
ul li:not(:first-child) { margin-left: 5px }




.w-px40 { width: 40px }
.w-px60 { width: 60px }
.w-px80 { width: 80px }
.w-px100 { width: 100px }
.w-px120 { width: 120px }
.w-px140 { width: 140px }
.w-px160 { width: 160px }
.w-px180 { width: 180px }
.w-px200 { width: 200px }
.w-px220 { width: 220px }
.w-px250 { width: 250px }
.w-px300 { width: 300px }
.w-px350 { width: 350px }
.w-px400 { width: 400px }
.w-px500 { width: 500px }
.w-px600 { width: 600px }
.w-px800 { width: 800px }
.w-px1000 { width: 1000px }
.w-px1200 { width: 1200px }











